body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

.game-container {
    width: 500px;
    max-width: 90%;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    cursor: pointer;
}

.answer {
    display: block;
    width: 90%;
    margin: 10px auto;
}
